@import '../../styles/index.css';

.form-container {

}

.form-container h1 {
    margin-bottom: 61px;
}

.form-container form {
 padding:0 12px 0 12px;
}

.form-container input {
    margin-bottom:20px;
    padding:16px;
    width: 100%;
}

.form-container button {
    margin: 22px 0px;
}

.secondary-heading {
    color: var(--heading-color-secondary);
}

.primary-heading {
    color: var(--heading-color-primary);
}

