/* usage color: var(--color-grey); */

:root {
    --color-black :#0b0b0b;
    --color-red :#FF1654;
    --color-purple: #952eee;
    --color-grey: #847d7d;
    --color-grey-secondary: #eaebef;
    --color-light-grey: #979797;
    --color-off-white: #f4f5f9;
    --color-white: #ffffff;
    --font-color-primary: var(--color-grey);
    --font-color-secondary: var(--color-black);
    --heading-color-primary: var(--color-black);
    --heading-color-secondary: var(--color-purple);
    --input-border: var(--color-light-grey);
    --input-background: var(--color-white);
    --hover-color-secondary: var(--color-grey);
    --background-color: var(--color-white);
    --background-color-secondary: var(--color-off-white);
    --button-color-primary: var(--color-purple);
    --button-color-text: var(--color-white);
    --header-background: var(--color-grey-secondary);
    --layout-border-color: var(--color-grey-secondary);
    --nav-hover-color: var(--color-grey-secondary);
}

@media (min-width: 576px) {                             
    :root {
      --responsive-padding: 2rem;
    }
}



