@import '../../../styles/index.css';
/* 
 .tag {
    padding: 5px;
    border:2px solid var(--border-color);
    background-color: var(--color-grey);
    border-radius: 10px;
    margin:5px;

}

.tag[data-is-selected="true"] {
    background-color: var(--color-red);
  }  */