@import '../../../styles/index.css';

  .register {
    background-color: var(--background-color-secondary);
    width: 100vw;
    height:100vh;
 }

 .register-layout {
    width: 50%;
    margin: auto;
    margin-top:20px;
 }
