@import '../../styles/index.css';

.login {
    background-color: var(--background-color-secondary);
    width: 100vw;
    height:100vh;
}

.login-layout {
    width: 50%;
    margin: auto;
    margin-top:20px;
 }